Thumbs.db
bin
target
src/main/webapp/META-INF
.classpath
.project
.settings
*.iml
*.ipr
*.iws
*.idea
*.class
attendees.csv


target/
bin/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea

